h1 {
    color: yellow;
    font-size: 300px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: blue;
    font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
p {
    font-size: 20px;
    color: green;
    text-align: center;
    padding: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.favorite {
    background-color: lightgray;
    border: 10px solid yellow;
    padding: 30px;
    margin: 100px;
    text-align: center;
    color: black;
}
body {
    background-image: linear-gradient(to bottom, red, purple, blue);
    color: white;
}
li {
    font-size: 40px;
    color: blue;
    border: dotted 2px black;
    list-style-type: none;
    text-transform: uppercase;
    padding: 50px;
    margin: 50px;
}